.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 800px;
    height: auto;
    z-index: 2;
    text-align: center;
    padding: 50px;
    padding-bottom: 65px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.content {
    font-size: 20px;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

button {
    width: 260px;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    background: #fff;
    box-sizing: border-box;
}
button:hover{
    background-color: white;
    box-shadow: 0 0 8px 8px rgb(119, 0, 255);
    color: black;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    cursor: pointer;
}

.headding_content{
    text-align: center;
    font-size: 35px;
    color: white;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 5vh ;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgb(12, 0, 31), rgb(45, 21, 90));
    background: -webkit-linear-gradient(rgb(12, 0, 31), rgb(45, 21, 90));
    background: -o-linear-gradient(rgb(12, 0, 31), rgb(45, 21, 90));
    background: -moz-linear-gradient(rgb(12, 0, 31), rgb(45, 21, 90));
    overflow: auto;
}

.stick img{
    width: 300px;
}
.clouds{
    top : 15vh !important;
}